@using Softinn.EntityModels;
@using Softinn.EntityModels.ViewModel;
@using EmbunLuxuryVillas.Helpers;
@{
    List<RoomTypeViewModel> rooms = ViewBag.ViewModel.RoomTypes;
    HotelViewModel hotel = ViewBag.ViewModel.Hotel;
    List<AttractionViewModel> attractions = ViewBag.ViewModel.Attractions;
    StateViewModel state = ViewBag.ViewModel.State;
    CountryViewModel country = ViewBag.ViewModel.Country;
    List<PromotionViewModel> promotions = ViewBag.ViewModel.Promotions;
    List<PromotionalEventViewModel> promotionalEvents = ViewBag.ViewModel.PromotionalEvents;
    List<MiceViewModel> mices = ViewBag.ViewModel.Mices;
    List<TourPackageViewModel> tourPackages = ViewBag.ViewModel.TourPackages;
    List<BlogViewModel> blogs = ViewBag.ViewModel.Blogs;

    ViewBag.MetaUrl = hotel.URLDomain;

    if (ViewBag.MetaHotelName == null)
    {
        ViewBag.MetaHotelName = hotel.DisplayName;
    }
    if (ViewBag.MetaTitle == null)
    {
        ViewBag.MetaTitle = $"{hotel.DisplayName} - Official Website";
    }
    if (ViewBag.MetaDescription == null)
    {
        ViewBag.MetaDescription = hotel.Description;
    }
    if (ViewBag.MetaKeywords == null)
    {
        ViewBag.MetaKeywords = "hotel, hotels, hotel reservations, hotel discount, hotel booking, leisure hotels, business hotels";
    }
    if (ViewBag.MetaImage == null)
    {
        ViewBag.MetaImage = @Url.Content("~/images/hotel/meta-image.jpg");
    }
    if (ViewBag.MetaAuthor == null)
    {
        ViewBag.MetaAuthor = "Softinn Solutions | http://www.mysoftinn.com";
    }
    if (ViewBag.MetaPublisher == null)
    {
        ViewBag.MetaPublisher = "Softinn Solutions | http://www.mysoftinn.com";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="~/images/Logo/favicon.png" />

    <title>@ViewBag.MetaTitle - @ViewBag.MetaHotelName</title>
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="author" content="@ViewBag.MetaAuthor">
    <meta name="publisher" content="@ViewBag.MetaPublisher">

    <!-- Open Graph data -facebook -->
    <meta property="og:title" content="@ViewBag.MetaTitle" />
    <meta property="og:url" content="@ViewBag.MetaUrl" />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@ViewBag.MetaImage" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="@ViewBag.MetaUrl">
    <meta name="twitter:title" content="@ViewBag.MetaTitle">
    <meta name="twitter:description" content="@ViewBag.MetaDescription">
    <meta name="twitter:image" content="@ViewBag.MetaImage">

    <!-- Google+ -->
    <meta itemprop="name" content="@ViewBag.MetaTitle">
    <meta itemprop="description" content="@ViewBag.MetaDescription">
    <meta itemprop="image" content="@ViewBag.MetaImage">

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/Template/css/lib/chosen.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="/Template/css/style.css">

    <link href="~/css/SiCssHelper.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <link href="~/css/SoftinnLibrary.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    @RenderSection("css", required: false)
    <script src="/Scripts/headScript.js"></script>
</head>
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body>
    <script src="/Scripts/startingOfBodyScript.js"></script>
    <!--<![endif]-->
    <!-- PRELOADER -->
    @*<div id="preloader">
            <span class="preloader-dot"></span>
        </div>*@
    <!-- END / PRELOADER -->
    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <!-- HEADER -->
        <header id="header">
            <!-- HEADER TOP -->
            <div class="header_top">
                <div class="container">
                    <div class="header_left float-left">
                        <span><i class="fa fa-map-marker"></i> @hotel.DisplayAddress</span>
                    </div>
                </div>
            </div>
            <!-- END / HEADER TOP -->
            <!-- HEADER LOGO & MENU -->
            <div class="header_content" id="header_content">

                <div class="container">
                    <!-- HEADER LOGO -->
                    <div class="header_logo">
                        <a href="/"><img src="~/images/Logo/web_logo.png" alt="Logo"></a>
                    </div>
                    <!-- END / HEADER LOGO -->
                    <!-- HEADER MENU -->
                    <nav class="header_menu">
                        <ul class="menu">
                            <li class="@Html.IsSelected(controller: "Home", action: "Index")"><a href="/">Home</a></li>

                            <li class="@Html.IsSelected(controller: "Home", notAction: "Index")">
                                <a href="#">About Us <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li class="@Html.IsSelected(controller: "Home", action: "OurStory")"><a href="/Home/OurStory">Our Story</a></li>
                                    <li class="@Html.IsSelected(controller: "Home", action: "TheVillasSuite")"><a href="/Home/TheVillasSuite">The Villas & Suite</a></li>
                                    <li class="@Html.IsSelected(controller: "Home", action: "Activities")"><a href="/Home/Activities">Activities</a></li>
                                    <li class="@Html.IsSelected(controller: "Home", action: "Policy")"><a href="/Home/Policy">Hotel Policies</a></li>
                                </ul>
                            </li>
                            <li class="@Html.IsSelected(controller: "Rooms")">
                                <a href="/Rooms">Villas & Suite <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu width-220">
                                    <li class="@Html.IsSelected(controller: "Rooms", action: "Index")"><a href="/Rooms">All Rooms</a></li>
                                    @{
                                        foreach (var room in rooms)
                                        {
                                            <li class="@Html.IsSelected(controller: "Rooms", action: "Detail", name: room.Name.ToSeoFriendly())"><a href="/Rooms/Detail/@room.Name.ToSeoFriendly()">@room.Name</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="@Html.IsSelected(controller: "Dining", action: "Index")"><a href="/Dining">Dining</a></li>
                            @if (attractions.Any())
                            {
                                <li class="@Html.IsSelected(controller: "Attractions", action: "Index")">
                                    <a href="#">Attraction <span class="fa fa-caret-down"></span></a>
                                    <ul class="sub-menu">
                                        @foreach (var attractionType in attractions.Select(a => a.AttractionType.Name).Distinct())
                                        {
                                            <li class="@Html.IsSelected(controller: "Attractions", attractionType: attractionType.ToSeoFriendly())"><a href="/Attractions/@attractionType.ToSeoFriendly()">@attractionType</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            @if (mices.Any())
                            {
                                <li class="@Html.IsSelected(controller:"MeetingEvents", action:"Index")"><a href="/MeetingEvents">Meetings & Events</a></li>
                            }

                            @if (promotions.Any() || promotionalEvents.Any())
                            {

                                <li class="@Html.IsSelected(controller: "Promotions", action: "Index")"><a href="/Promotions">Promotions</a></li>
                            }

                            @if (tourPackages.Any())
                            {
                                <li class="@Html.IsSelected(controller:"TourPackages", action:"Index")"><a href="/TourPackages">Packages</a></li>
                            }

                            @if (blogs.Where(b => b.IsPublished && !b.IsStandalone).Any())
                            {
                                <li class="@Html.IsSelected(controller:"Blogs", action:"Index")"><a href="/Blogs">Blogs</a></li>
                            }
                            <li class="@Html.IsSelected(controller: "Reservation", action: "Index")"><a href="/Reservation">Reservation</a></li>
                            <li class="@Html.IsSelected(controller: "Photos", action: "Index")"><a href="/Photos">Gallery</a></li>
                            <li class="@Html.IsSelected(controller: "ContactUs", action: "Index")"><a href="/ContactUs">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- END / HEADER MENU -->
                    <!-- MENU BAR -->
                    <span class="menu-bars">
                        <span></span>
                    </span>
                    <!-- END / MENU BAR -->

                </div>
            </div>
            <!-- END / HEADER LOGO & MENU -->

        </header>
        <!-- END / HEADER -->
        @RenderBody()

        <!-- FOOTER -->
        <footer id="footer">

            <!-- FOOTER TOP -->
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <!-- WIDGET MAILCHIMP -->
                        <div class="col-lg-6 col-xs-12">
                            <div class="mailchimp">
                                <h4>Book directly with us for best rates</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <div class="mailchimp">
                                <div class="button-container mailchimp-form ">
                                    <a class="awe-btn btn-block" href="/Reservation">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <div class="social">
                                <div class="social-content">
                                    @if (@hotel.URLFacebook != null)
                                    {
                                        <a href="@hotel.URLFacebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    }
                                    <a href="https://www.instagram.com/embunvillas/" target="_blank"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET MAILCHIMP -->
                    </div>
                </div>
            </div>
            <!-- END / FOOTER TOP -->
            <!-- PAYMENT -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mailchimp">
                            <p>Direct Booking</p>
                            <p>Secure Payment</p>
                            <p>No Hidden Charges</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment_method">
                <div class="container">
                    <div>
                        <p>Pay Securely With</p>
                        <ul>
                            <li><img src="/images/PaymentGatewayMY/01-visa.svg" alt="Visa Card" id="visa-card"></li>
                            <li><img src="/images/PaymentGatewayMY/02-mastercard.svg" alt="Master Card" id="master-card"></li>
                            <li><img src="/images/PaymentGatewayMY/04-fpx.svg" alt="FPX" id="fpx"></li>
                            <li><img src="/images/PaymentGatewayMY/05-maybank.svg" alt="M2U" id="m2u"></li>
                            <li><img src="/images/PaymentGatewayMY/06-cimb.svg" alt="CIMB" id="cimb"></li>
                            <li><img src="/images/PaymentGatewayMY/07-pbebank.svg" alt="PBE" id="pbe"></li>
                            <li><img src="/images/PaymentGatewayMY/08-rhbnow.svg" alt="RHB" id="rhb"></li>
                            <li><img src="/images/PaymentGatewayMY/09-hongleong.svg" alt="Hong Leong" id="hong-leong"></li>
                            <li><img src="/images/PaymentGatewayMY/03-paypal.svg" alt="Paypal" id="paypal"></li>
                            <li><img src="/images/PaymentGatewayMY/11-boost.svg" alt="Boost" id="boost"></li>
                            <li>and more...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAYMENT-->
            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img">
                                                <a href="#"><img src="~/images/Logo/web_logo.png" alt="@hotel.DisplayName"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text">
                                                <p>
                                                    <i class="fa fa-phone"></i> <a href="tel:@hotel.DisplayPhone" rel="nofollow">@hotel.DisplayPhone</a>
                                                </p>
                                                <p>
                                                    <i class="fa fa-phone"></i> <a href="tel:@hotel.SecondDisplayPhone" rel="nofollow">@hotel.SecondDisplayPhone</a> (Mon - Sat from 9am to 5pm)
                                                </p>
                                                <p>
                                                    <i class="fa fa-phone"></i> <a href="tel:+6013 6042460" rel="nofollow">+6013 6042460</a> (for calls only)
                                                </p>
                                                @if (hotel.DisplayFax != null)
                                                {
                                                    <p>
                                                        <i class="fa fa-fax"></i> @hotel.DisplayFax
                                                    </p>
                                                }
                                                <p>
                                                    <i class="fa fa-envelope-o"></i> <a href="mailto:@hotel.DisplayEmail">@hotel.DisplayEmail</a>
                                                </p>
                                                <p>
                                                    <i class="fa fa-map-marker"></i>  @hotel.DisplayAddress
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-2">
                            <div class="widget">
                                <h4 class="widget-title">Links</h4>
                                <ul>
                                    <li><a href="/Rooms">Villas & Suite</a></li>
                                    <li><a href="/Photos">Gallery</a></li>
                                    <li><a href="/Reservation">Reservation</a></li>
                                    <li><a href="/ContactUs">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-2">
                            <div class="widget">
                                <h4 class="widget-title">About Us</h4>
                                <ul>
                                    <li><a href="/Home/OurStory">Our Story</a></li>
                                    <li><a href="/Home/TheVillasSuite">The Villas & Suite</a></li>
                                    <li><a href="/Home/Activities">Activities</a></li>
                                    <li><a href="/Home/Policy">Hotel Policies</a></li>
                                    @if (attractions.Any())
                                    {
                                        @foreach (var attractionType in attractions.Select(a => a.AttractionType.Name).Distinct())
                                        {
                                            <li><a href="/Attractions/@attractionType.ToSeoFriendly()">@attractionType</a></li>
                                        }
                                    }

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->
            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    &copy; @DateTime.Now.Year @hotel.DisplayName All rights reserved. Powered by <a class="poweredBy" target="_blank" href="http://mysoftinn.com/">Softinn Solutions.</a>
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>
        <!-- END / FOOTER -->

    </div>
    <!-- END / PAGE WRAP -->
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="/Scripts/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/bootstrap-select.js"></script>
    <script type="text/javascript" src="/Scripts/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/chosen.jquery.js"></script>
    <!-- validate -->
    <script type="text/javascript" src="/Scripts/lib/jquery.form.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.validate.min.js"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="/Scripts/scripts.js"></script>
    <script src="/Scripts/SoftinnLibrary.js"></script>

    <!--Web Font Loader-->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Hind:400,300,500,600', 'Montserrat:400,700']
            }
        });
    </script>
    <script async src="https://cms.mysoftinn.com/tracking/js?hotelId=@hotel.Id"></script>

    @{await Html.RenderPartialAsync("~/Views/Shared/_GoogleStructuredData.cshtml");}
    @RenderSection("scripts", required: false)
    <script src="/Scripts/endingOfBodyScript.js"></script>
</body>
</html>
