@using Softinn.EntityModels.ViewModel
@using GadekHotspring.Helpers
@{
    List<RoomTypeViewModel> rooms = ViewBag.ViewModel.RoomTypes;
}

<div id="page-room-index">

    <section class="section-sub-banner bg-2">
        <div class="awe-overlay"></div>
        <div class="sub-banner">
            <div class="container">
                <div class="text text-center">
                    <h2>BILIK &amp; HARGA</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section-room bg-white">
        <div class="container">
            <div class="room-wrap-1">
                <div class="row">
                    @{
                        foreach (var room in rooms.OrderBy(x => x.Number))
                        {
                            <div class="col-sm-12 hidden-sm hidden-xs margin-0px-auto">
                                <div class="row room_item-1">
                                    <div class="col-md-2 desc">
                                        <div class="bot margin-top-35px">
                                            @if (room.RackRates != null && room.RackRates.Any())
                                            {
                                                <span class="price">
                                                    Dari<br /><span class="amout">RM @room.RackRates.Select(rr => rr.Rates).Min().ToString("#")</span> /
                                                </span>
                                            }
                                        </div>
                                        <div class="bot text-right">
                                            <span class="price">satu malam</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <h2><a href="/Rooms/Detail/@room.Name.ToSeoFriendly()">@room.Name</a></h2>
                                        <div class="desc">
                                            <ul>
                                                @if (room.BedRelationship != null)
                                                {
                                                    <li>
                                                        @foreach (var bed in room.BedRelationship.Beds)
                                                        {
                                                            <span>@bed.Count @bed.Name</span>
                                                            if (bed != room.BedRelationship.Beds.ToArray()[room.BedRelationship.Beds.Count() - 1])
                                                            {
                                                                if (room.BedRelationship.RelationshipType != null)
                                                                {
                                                                    <span>@room.BedRelationship.RelationshipType.Name</span>
                                                                }
                                                            }
                                                        }
                                                    </li>
                                                }
                                                <li>@room.GuestNumberMax Dewasa</li>
                                            </ul>
                                            <p>@Html.Raw(room.Description)</p>
                                        </div>
                                        <a href="/Rooms/Detail/@room.Name.ToSeoFriendly()" class="awe-btn awe-btn-13">LIHAT DETAIL</a>
                                    </div>
                                    <div class="col-md-5 img">
                                        <a href="/Rooms/Detail/@room.Name.ToSeoFriendly()"><img src="@room.ImagePath" alt="@room.Name"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 hidden-lg hidden-md visible-sm visible-xs margin-0px-auto">
                                <div class="row room_item-1">
                                    <div class="col-xs-12 img">
                                        <a href="/Rooms/Detail/@room.Name.ToSeoFriendly()"><img src="@room.ImagePath" alt="@room.Name"></a>
                                    </div>
                                    <div class="col-xs-12">
                                        <h2><a href="/Rooms/Detail/@room.Name.ToSeoFriendly()">@room.Name</a></h2>
                                        <div class="desc">
                                            <ul>
                                                @if (room.BedRelationship != null)
                                                {
                                                    <li>
                                                        @foreach (var bed in room.BedRelationship.Beds)
                                                        {
                                                            <span>@bed.Count @bed.Name</span>
                                                            if (bed != room.BedRelationship.Beds.ToArray()[room.BedRelationship.Beds.Count() - 1])
                                                            {
                                                                <span>@room.BedRelationship.RelationshipType.Name</span>
                                                            }
                                                        }
                                                    </li>
                                                }
                                                <li>@room.GuestNumberMax Dewasa</li>
                                            </ul>
                                            <p>@Html.Raw(room.Description)</p>
                                        </div>
                                        <div class="bot padding-top-10px padding-bottom-10px">
                                            @if (room.RackRates != null && room.RackRates.Any())
                                            {
                                                <span class="price">From <span class="amout">RM @room.RackRates.Select(rr => rr.Rates).Min().ToString("#")</span> / satu malam</span>
                                            }
                                            <a href="/Rooms/Detail/@room.Name.ToSeoFriendly()" class="awe-btn awe-btn-13">LIHAT DETAIL</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>

</div>
