@using Softinn.EntityModels.ViewModel
@using EmbunLuxuryVillas.Helpers
@{
    List<PromotionViewModel> promotions = ViewBag.ViewModel.Promotions;
    List<PromotionalEventViewModel> promotionalEvents = ViewBag.ViewModel.PromotionalEvents;
}

<section class="section-sub-banner bg-4">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Promotions</h2>
                <p> The latest promotion </p>
            </div>
        </div>
    </div>
</section>

<section class="section-promotion">
    <div class="container">
        <div class="row">
            @foreach (var promotionalEvent in promotionalEvents)
            {
                <div class="col-md-4">
                    <div class="cms-promotion promotion-box">
                        <div class="img">
                            <img src="@BvHelper.GetImageLinkFromStorage(promotionalEvent.Photos.FirstOrDefault().URLStorage)" />
                        </div>
                        <div class="title-wrapper">
                            <div class="title">
                                <h2>@promotionalEvent.Name</h2>
                                <a href="/Promotions/@promotionalEvent.Id" class="awe-btn awe-btn-13">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (promotions.Any())
        {
            <div class="divider"></div>
            <div class="row extranet-promotion">
                @foreach (var promotion in promotions)
                {
                    <div class="col-md-4">
                        <div class="promotion-item">
                            <div class="promotion-box">
                                <div class="promotion-overlay-container promotion-overlay-container_@promotion.Id hidden">
                                    <div class="promotion-overlay promotion-overlay_@promotion.Id hidden slideInUp animated">
                                        <div class="close-button close-button_@promotion.Id"><i class="fa fa-close"></i></div>
                                        <h5>Terms &amp; Conditions:</h5>
                                        <span>• Book from @promotion.CampaignStartDate.ToString("dd MMM yyyy") - @promotion.CampaignEndDate.ToString("dd MMM yyyy")</span>
                                        <span>• Check in from @promotion.CheckInAfter.ToString("dd MMM yyyy") - @promotion.CheckInBefore.ToString("dd MMM yyyy")</span>
                                        @if (promotion.MinNights.HasValue && promotion.MinNights.Value > 1)
                                        {
                                            <span>• Min. nights: @promotion.MinNights.Value</span>
                                        }
                                        @if (promotion.MaxNights.HasValue && promotion.MaxNights.Value > 1)
                                        {
                                            <span>• Max. nights: @promotion.MaxNights.Value</span>
                                        }
                                        @if (promotion.MinTotalFees.HasValue && promotion.MinTotalFees != 0)
                                        {
                                            <span>• Min. booking value: RM @promotion.MinTotalFees.Value.ToString("#.##")</span>
                                        }
                                        @if (promotion.MaxDiscountRates.HasValue)
                                        {
                                            <span>• Max. redemption: RM @promotion.MaxDiscountRates.Value.ToString("#.##")</span>
                                        }
                                        @if (!String.IsNullOrEmpty(promotion.EligibleDayNames))
                                        {
                                            <span>• Only eligible on @promotion.EligibleDayNames.Replace(",", ", ")</span>
                                        }
                                        @if (!promotion.IsApplicableOnPublicHoliday)
                                        {
                                            <span>• Not applicable on public holiday</span>
                                        }
                                        @if (!promotion.IsApplicableOnDiscountedRates)
                                        {
                                            <span>• Not applicable with other discounted rate</span>
                                        }
                                    </div>
                                </div>
                                <div class="promotion-code-container">
                                    <img src="~/images/hotel-front.jpg" />
                                    <div class="promotion-code">
                                        <div class="title">
                                            <h5>@promotion.Name</h5>
                                        </div>
                                        <div class="promotion-rate">
                                            <span>Discount:</span><br />
                                            @if (promotion.DiscountTypeId == 2)
                                            {
                                                <h2>RM @promotion.Discount.ToString("#.##")</h2>
                                            }
                                            else
                                            {
                                                <h2>@promotion.Discount.ToString("#.##") %</h2>
                                            }
                                        </div>
                                        <div class="promotion-code-section">
                                            <span>Use Promo Code:</span>
                                            <div class="promotion-code-box">
                                                <span>@promotion.PromotionPrefix</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="promotion-detail">
                                    <div class="promotion-footer">
                                        <span class="terms-and-condition terms-and-condition_@promotion.Id">Show terms &amp; conditions</span>
                                        <a target="_blank" href="/Reservation?promotionCode=@promotion.PromotionPrefix" class="awe-btn awe-btn-13">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

@section css{
    <link href="~/css/promotion.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
}

@section scripts{
    <script src="~/Scripts/promotion.js"></script>
}